name:    "Docker image in GHCR"
on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and Push Docker image 
          run: |
            TAG=${{ github.run_number }}
            sha=${{ github.sha  }}
            IMAGE=ghcr.io/${{ github.repository_owner }}/my-web-portfolio
            docker build . --file Dockerfile --tag $IMAGE:V_0.$TAG --label "git-sha=$sha"
            docker push $IMAGE:V_0.$TAG